<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="../public/css/edit.css" />
</head>
<body>
    <h1>Edit Car Here</h1>
    <form action="/index/<%= id %>/edit" method="POST">
        <label>New Make:</label>
        <input type="text" required name="make"/>
        <label>New Model:</label>
        <input type="text" required name="model"/>
        <label>New Year:</label>
        <input type="number" required min="1970" max="2024" name="year"/>
        <label>Domestic:</label>
        <input type="checkbox" name="domestic"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>