<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Car</title>
</head>
<body>
        <h1><%= car.make %> - <%= car.model %></h1>
        <h3>Year: <%= car.year %></h3>
        <h3>Domestic: <%= car.domestic.charAt(0).toUpperCase() + car.domestic.slice(0) %></h3>
</body>
</html>