<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Car</title>
</head>
<body>
    <%- include("nav.ejs") %>
    <h1>Create a New Car</h1>
    <form action="/new" method="POST">
        <label>Make:</label>
        <input type="text" required name="make"/>
        <label>Model:</label>
        <input type="text" required name="model"/>
        <label>Year:</label>
        <input type="number" required min="1970" max="2024" name="year"/>
        <label>Domestic:</label>
        <input type="checkbox" name="domestic"/>
        <button type="submit">Submit</button>
    </form>
    <a href="/index"><button>Garage</button></a>
</body>
</html>