@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

* {
    box-sizing: border-box;
}

@keyframes text-slide {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}
  
body {
    font-family: "Contrail One", sans-serif;
    background-image: url("https://www.thedrive.com/content/2018/02/collection.jpg?quality=85");
}

.nav-container {
    background-color: hsla(360, 100%, 100%, 0.25);
    padding: 5px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    justify-items: left;
    grid-template-areas:
    "heading"
    "list"
    "button";
    height: 50vh;
}

h1 {
    animation: text-slide 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    grid-area: heading;
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px 2px lightcyan;
}

ul {
    font-size: 1.5rem;
    grid-area: list;
    line-height: 35px;
    animation: text-slide 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

li{
    color: lightcyan;
}

li:hover {
    color: green;
}

a {
    text-decoration: none;
}

#create-btn {
    grid-area: button;
    font-family: "Contrail One", sans-serif;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px 0 black;
    margin-left: 10px;
    box-shadow: 3px 3px 3px lightcyan;
}

#create-btn:hover {
    cursor: pointer;
    transform: scale(1.10);
}

a {
    text-decoration: none;
}
